.footer {
  width: 100%;
  text-align: center;

  hr {
    width: 70%;
    margin-bottom: 10px;
  }

  p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;

    a {
      color: #000;
    }
  }
}